<GridLayout orientation="vertical" rows="auto, *" tkExampleTitle tkToggleNavButton>
  <RadListView #myListView [items]="chats" row="1" selectionBehavior="None" (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
    (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)" swipeActions="true">
    <!-- >> (hide) -->
    <ng-template tkListItemTemplate let-chat="item">
      <StackLayout class="listItemStackLayout" orientation="horizontal">
        <Image class="thumb" [src]="chat.contact.avatar"></Image>
        <StackLayout>
          <Label class="labelName" [text]="chat.contact.name"></Label>
          <Label class="labelText" [text]="chat.text"></Label>
        </StackLayout>
      </StackLayout>
    </ng-template>
    <!-- >> angular-listview-swipe-actions-template-html -->
    <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
      <StackLayout id="mark-view" col="0" class="markViewStackLayout" (tap)="onLeftSwipeClick($event)">
        <Label text="mark" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout id="delete-view" col="2" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
        <Label text="delete" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
      </StackLayout>
    </GridLayout>
    <!-- << angular-listview-swipe-actions-template-html -->
    <!-- << (hide) -->
  </RadListView>
  <!-- << angular-listview-swipe-actions-set-enabled-html -->
</GridLayout>