<ActionBar title="Diga!" class="action-bar">
    <Label text="Diga!" class="action-bar-title" android:horizontalAlignment="left"></Label>
    <ng-container *ngIf="platform.isAndroid">
        <!-- <ActionItem android.systemIcon="ic_menu_search_mtrl_alpha"></ActionItem> -->
        <ActionItem>
            <Button [text]="'mdi-search' | fonticon" class="mdi action-bar-button"></Button>
        </ActionItem>
        <ActionItem android.position="popup" text="Novo Grupo"></ActionItem>
        <ActionItem android.position="popup" text="Nova Transmissão"></ActionItem>
        <ActionItem android.position="popup" text="NativesApp Web"></ActionItem>
        <ActionItem android.position="popup" text="Mensagens Marcadas"></ActionItem>
        <ActionItem android.position="popup" text="Configurações"></ActionItem>
    </ng-container>

    <ng-container *ngIf="platform.isIOS">
        <ActionItem ios.position="right" ios.systemIcon="2"></ActionItem>
        <ActionItem ios.position="left" ios.systemIcon="7"></ActionItem>
    </ng-container>

</ActionBar>

<!-- <ns-list-view></ns-list-view> -->
<ns-tabs></ns-tabs>